* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.empty {
  margin-bottom: -33px;
  margin-top: 15px;
}

.main {
  margin-top: 45px;
}

.li-button{
  margin-left: 10px;
}
.task-number{
  font-weight: bold;
}
.counter{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}